.App {
  text-align: center;
  
}
.container{
  display: flex;
  justify-content: center;
  
}
.rock{
  height: 250px;
  width: 250px;
  cursor: pointer;
  padding: 25px 25px 25px 25px;
}

.paper{
  height: 250px;
  width: 250px;
  cursor: pointer;
  padding: 25px 25px 25px 25px;
}

.scissors{
  height: 250px;
  width: 250px;
  cursor: pointer;
  padding: 25px 25px 25px 25px;
}

.score{
  text-align: center;
}