.App {
  text-align: center;
  
}
/* .container{
  display: flex;
  justify-content: center;
  
} */
.rock{
  height: 250px;
  width: 250px;
  cursor: pointer;
  padding: 25px 25px 25px 25px;
}

.paper{
  height: 250px;
  width: 250px;
  cursor: pointer;
  padding: 25px 25px 25px 25px;
}

.scissors{
  height: 250px;
  width: 250px;
  cursor: pointer;
  padding: 25px 25px 25px 25px;
}

.sscore{
  font-size: 25px;
  text-align: center;
}

.win{
  font-size: 50px;
  text-align: center;
}

.score{
  font-size: 22px;
  text-align: center;
}

.cscore{
  font-size: 22px;
  text-align: center;
}

.player{
  font-size: 30px;
  
}

.comp{
  font-size: 30px;
  
}